@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

// Measurements
$w_window: 800px;
$h_window: 600px;

// Colors
$c_win95-cyan: #008080;
$c_window-background: #cccccc;
$c_window-border: #454545;

// Global
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "JetBrains Mono", monospace;
}

// Background
.background {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $c_win95-cyan;

}

// Window
.window {
    width: $w_window;
    height: $h_window;

    display: grid;
    grid-template-rows: 32px auto;

    background-color: $c_window-background;
    border: 3px solid $c_window-border;
}

// Window titlebar
.titlebar {
    width: 100%;
    height: 32px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom: 3px solid $c_window-border;

    .title {
        padding-left: 4px;

        p {
            font-size: 12pt;
        }
    }

    // Titlebar buttons
    .titlebuttons {
        display: flex;
        flex-direction: row;

        .titlebutton {
            width: 22px;
            height: 22px;
            margin-right: 4px;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 12pt;
            font-weight: bold;
        }
    }
}